body {
	background: url(../images/login_bg_0.jpg);
	/* 背景图垂直、水平均居中 */
	background-position: center center;
	/* 背景图不平铺 */
	background-repeat: no-repeat;
	/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
	background-attachment: fixed;
	/* 让背景图基于容器大小伸缩 */
	background-size: cover;
	/* 设置背景颜色，背景图加载过程中会显示背景色 */
	background-color: #f8f6e9;
}

.signin {
	width: 477px;
	height: 479px;
	background: url(../images/login_bg.png) no-repeat;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -239px;
	margin-left: -238px;
}

.signin-head {
	margin: 0 auto;
	padding-top: 30px;
	width: 120px;
}

.form-signin {
	max-width: 330px;
	padding: 43px 15px 15px 15px;
	margin: 0 auto;
}

.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="text"] {
	margin-bottom: 14px;
	border-radius: 0;
	background: url(../images/login_user.png) 0 0 #bdbdbd no-repeat;
	padding-left: 60px;
	color: #FFFFFF;
}

.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-radius: 0;
	background: url(../images/login_pas.png) 0 0 #bdbdbd no-repeat;
	padding-left: 60px;
	color: #FFFFFF;
}

.form-signin button {
	border-radius: 0;
}